
.swatch-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.swatch-container .mswatch{
	margin: 3px 6px;
    position: relative;
    width: auto;
    padding: 0;
}
.swatch-container input {
    display: none;
}
.swatch-container label {
    border: 3px solid #fff !important;
    display: inline-block !important;
    outline: none !important;
	box-shadow: 0 0 2px 1px rgb(0 0 0 / 20%);
	border-radius: 6px!important;
	color: rgb(116, 116, 116);
	cursor: pointer;
	width: 60px;
	height: 60px;
	background-color: transparent;
	overflow: hidden;
}
.swatch-container.hair label{
	overflow:hidden;
}
.swatch-container label img{
	width: 54px;
	height: 54px;
}
.swatch-container.hair label img,
.swatch-container.hair_beard label img{
	height:auto;
}
.swatch-container input:checked ~ label {
    border: #1871ed 3px solid!important;
}
.swatch-container input:checked~label:before,label.choosen:before {
    background-image: url(check-mark.svg);
    background-size: 14px 14px;
    height: 14px;
    width: 14px;
    display: block;
    content: ' ';
    position: absolute;
    top: 5px;
    background-color: transparent;
    right: 5px;
}
#productImageHolder{
	background: url(https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif) no-repeat center;
}
#drawit {
	width:700px;
	height:741px;
    position: relative;
    overflow: hidden;
	margin: auto;transform-origin: 0 0;
}
#drawit img {
    max-width: 100%;
	position:absolute;
}
a#nextstep:focus, a#nextstep:hover {
    color: #ffffff!important;
}
.option_title {
    text-align: center;
    margin: 4px 0px;
    border-bottom: 1px solid #cccccc;
    text-transform: capitalize;
    padding: 5px 0px;
    font-weight: bold;
    font-size: medium;
}
